// Colors
$primary-color: #0d6efd;
$background-color: #202020;
$text-color: #fff;
$strong-color: #000;
$border-color: #303030;
$link-color: #0d6efd;
$header-background: #fff;
$header-text-color: #333;
$footer-text-color: rgba(255, 255, 255, .4);
$footer-strong-color: rgba(255, 255, 255, .7);

// fonts
$primary-font: 'Roboto Condensed', sans-serif;

$container-width: 1200px;
$container-width-small: 900px;
$container-width-big: 1500px;
$gutter: 50px;