@import './_variables';
@import './_mixins';
@import './nav';
// body styles
body {
  background: $background-color url('/images/footer-bg.jpg') repeat;
  min-width: $container-width;
  margin: 0;
  padding: 0;

  &, input, textarea, select {
    font-family: $primary-font;
    font-weight: 300;
    font-size: 11pt;
    line-height: 1.75em;
  }
}
/*
  This is has header tags styles 
  and it is used to style the header tags
*/


h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;

  a {
    color: inherit;
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
  color: $strong-color;
}

em,
i {
  font-style: italic;
}

a {
  color: $link-color;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px $border-color;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}
/*
  This is has header tags styles 
  and it is used to style the header tags
*/
header {
  margin-bottom: 2em;
  line-height: 1.7em;

  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}
/*
  This is has header tags styles 
  and it is used to style the header tags
*/
section,
article {
  margin-bottom: 3em;

  > :last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}


// This is has container styles 
.container {
  @include container;

  &.small {
    width: $container-width-small;
  }

  &.big {
    width: 100%;
    max-width: $container-width-big;
    min-width: $container-width;
  }
}
// This is has row styles 
.row {
  section,
  article {
    margin-bottom: 0;
  }

  [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }

  & {
    margin-left: -50px;

    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
    }
  }
}

// This is has column styles 
@for $i from 1 through 12 {
  .column-#{$i} {
    width: percentage(1);
  }
}
@media all and (min-width: 576px) {
  @include make-column(1/12);

}

.image {
  @include image;
}

ul.default {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: block;
    padding: 2em 0em 1.25em 0em;
    border-top: 1px solid $border-color;

    &:first-child {
      padding-top: 0em;
      border-top: none;
    }

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, .5);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
/*
  This is has style1 and style2 styles 
  and it is used to style the style1 and style2 tags
*/
ul.style1,
ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 0.60em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }

    &.style2 {
      padding: 1.90em 0em 1.60em 0em;

      img {
        float: left;
        padding-right: 1em;
      }
    }
  }
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;

  li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}
/*
  This is has button styles 
  and it is used to style the button tags
*/
.button {
  @include button($primary-color, $text-color);
}

.header {
  position: relative;
  background: $header-background;

  .container {
    position: relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;

  a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }
}


.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}

.page {
  position: relative;
  background: #fff;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar {
  header {
    h2 {
      font-size: 1.6em;
    }
  }
}

.footer {
  position: relative;
  color: $footer-text-color;

  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $text-color;
  }

  strong {
    color: $footer-strong-color;
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid $border-color;
  letter-spacing: 1px;
  text-align: center;
  color: $footer-text-color;

  a {
    text-decoration: none;
    color: $footer-text-color !important;
  }
}

.marketing {
  position: relative;

  header {
    h2 {
      font-size: 1.6em;
    }
  }
}

.featured {
  position: relative;

  .divider {
    border-bottom: 1px solid $border-color;
  }

  .box {
    background: #FFF;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: #333;

  strong {
    color: #333 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}
